@mixin radio-variant($color-name, $color) {
  .a23-radio.a23-#{$color-name} > input[type=radio]:checked + .a23-label-text:after {
    border: 2px solid $color;
    background-color: $color;
  }
  .a23-radio.a23-with-gap.a23-#{$color-name} > [type=radio]:checked + .a23-label-text:before {
    border: 2px solid $color;
  }
}
@mixin radio-button-variant($color-name, $color) {
  .a23-radio-button.a23-#{$color-name} > input[type=radio]:not(:checked) + .a23-label-text {
    color: $color;
    border: solid 1px $color;
  }
  .a23-radio-button.a23-#{$color-name} > input[type=radio]:checked + .a23-label-text {
    border: solid 1px $color;
    background-color: $color;
  }
}
