.a23-rotate45 {
  @extend %rotate45;
}

.a23-rotate90 {
  @extend %rotate90;
}

.a23-rotate135 {
  @extend %rotate135;
}

.a23-rotate180 {
  @extend %rotate180;
}

.a23-rotate225 {
  @extend %rotate225;
}

.a23-rotate270 {
  @extend %rotate270;
}

.a23-rotate315 {
  @extend %rotate315;
}
