@media (max-width: 576px) {
  .a23-w-sm-100 {
    width: 100% !important;
  }
}
@media (max-width: 768px) {
  .a23-w-md-100 {
    width: 100% !important;
  }
}
@media (max-width: 992px) {
  .a23-w-lg-100 {
    width: 100% !important;
  }
}
@media (max-width: 1200px) {
  .a23-w-xl-100 {
    width: 100% !important;
  }
}


