body {
  background-color: #002149;
}

.container {
  position: relative;
  max-width: 100%;
  overflow: hidden;
  background-color: #002149;
  padding: 0;
}

.a23-airplane {
  position: absolute;
  top: 30em;
  left: 4em;
  animation-name: airplane-move;
  animation-duration: 100s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes airplane-move {
    0% {
        transform: translateX(-300rem);
    }
    
    100% {
        transform: translateX(125rem);
    }
}

.a23-star {
  &:first-child {
    top: 2rem;
    left: 5rem;
  }
  &:nth-child(2) {
    top: 8rem;
    right: 10rem;
  }
  &:nth-child(3) {
    top: 5rem;
    left: 23rem;
  }
  &:nth-child(4) {
    top: 14rem;
    left: 17rem;
  }
  &:nth-child(5) {
    top: 35rem;
    left: 4rem;
  }
  &:nth-child(6) {
    top: 28rem;
    right: 18rem;
  }
  &:nth-child(7) {
    top: 36rem;
    right: 10rem;
  }
}

.a23-moon {
  position: absolute;
  top: 60px;
  left: 8rem;
}

.a23-meteors {
  position: relative;
  // top: 290px;
  // left: 130px;
  bottom: 0;
  right: 0;
}

.a23-cloud {
  &:nth-child(1) {
    top: 8rem;
    left: -8rem;
  }
  
  &:nth-child(2) {
    top: 26rem;
    left: -20rem;
    animation-duration: 70s;
  }
  
  &:nth-child(3) {
    top: 18rem;
    left: -35rem;
    animation-duration: 30s;
  }
}

.title-area {
  position: absolute;
  top: 290px;
  left: 230px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
  z-index: 10000;
  
  .title-box {
    
    .block {
      position: absolute;
      width: 0%;
      height: 56px;
      background: #348EFF;
      animation: titleBlock 2s cubic-bezier(.74, .06, .4, .92) forwards;
    }
    
    .title {
      position: relative;
      font-size: 4rem;
      margin-bottom: 0px;
      line-height: 1;
      color: white;
      font-weight: 600;
      opacity: 0;
      -webkit-animation: titleFadeIn 2s forwards;
      -o-animation: titleFadeIn 2s forwards;
      animation: titleFadeIn 2s forwards;
      animation-delay: 1.6s;
      vertical-align: text-bottom;
      font-family: "Raleway ExtraBold", sans-serif;
      .title-dot {
        position: absolute;
        bottom: 0px;
        right: -12px;
        width: 0px;
        height: 0px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        background: #aacdfc;
        -webkit-animation: load 0.6s cubic-bezier(.74, .06, .4, .92) forwards;
        animation: popIn 0.8s cubic-bezier(.74, .06, .4, .92) forwards;
        animation-delay: 2s;
      }
    }    
  }
  .sub-title-box {
    display: flex;
    align-items: center;
    height: 30px;
    
    .block {
      display: flex;
      width: 0%;
      height: 30px;
      background: #e91e63;
      position: absolute;
      animation: subTitleBlock 2s cubic-bezier(.74, .06, .4, .92) forwards;
      animation-delay: 2s;
      font-size: 24px;
      font-weight: 600;
    }

    .sub-title {
      position: absolute;
      left: 0px;
      opacity: 0;
      font-size: 24px;
      line-height: 1;
      width: 14em;
      font-family: Zerfallen, sans-serif;
      font-weight: 300;
      color: #d7dde0;
      animation: subTitleFadeIn 2.2s forwards;
      animation-delay: 3.6s;
    }
    .lover {
      color: white;
      font-family: sofia_pro, sans-serif;
      font-weight: 600;
    }
  }
}

.cube-area {
  display: flex;
  justify-content: flex-end;
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 767px) {
}

@media screen and (max-width: 576px) {
  .a23-moon {
    top: 20px;
    left: 1rem;
  }
  .title-area {
    position: absolute;
    top: 10.5rem;
    left: 50%;
    transform: translateX(-50%) scale(0.8, 0.8);    
  }
  .a23-meteors {
    // position: absolute;
    // top: 12.5rem;
    // left: 2.3rem;
    position: relative;
    right: 0;
    bottom: 0;
    overflow-width: hidden;
    transform: scale(0.6, 0.6);
  }
  .a23-cube {
    display: none;
    width: 0;
  }
  .cube-area {
    display: none;
    width: 0;
  }
  .a23-star:first-child {
    top: 6rem;
    left: 1rem;
  }
  .a23-star:nth-child(2) {
    top: 10rem;
    right: 6rem;
  }
  .a23-star:nth-child(3) {
    top: 5rem;
    left: 20rem;
  }
  .a23-star:nth-child(4) {
    top: -2rem;
    left: 18rem;
  }
  .a23-star:nth-child(5) {
    top: 18rem;
    left: 3rem;
  }
  .a23-star:nth-child(6) {
    top: -3rem;
    right: 12rem;
  }
  .a23-star:nth-child(7) {
    top: 25rem;
    right: 7rem;
  }


  .title-area {
    .title-box {
      .block {
        animation: titleBlock 2s cubic-bezier(.74, .06, .4, .92) forwards;
      }
      .title {
        -webkit-animation: titleFadeIn 2s forwards;
        -o-animation: titleFadeIn 2s forwards;
        animation: titleFadeIn 2s forwards;
        animation-delay: 0.1s;
      }
    }
    .sub-title-box {
      .block {
        animation: subTitleBlock 2s cubic-bezier(.74, .06, .4, .92) forwards;
        animation-delay: 0.1s;
      }

      .sub-title {
        animation: subTitleFadeIn 2.2s forwards;
        animation-delay: 0.1s;
      }
    }
  }
  @keyframes titleBlock {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }

  @keyframes subTitleBlock {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }

  @keyframes titleFadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes subTitleFadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  
}

@media screen and (min-width: 576px) {

  @keyframes titleBlock {
    0% {
      width: 0%;
      left: 0;
    }
    50% {
      width: 110%;
      left: 0;
    }
    100% {
      width: 0;
      left: 110%;
    }
  }

  @keyframes subTitleBlock {
    0% {
      width: 0%;
      left: 0;
    }
    50% {
      width: 110%;
      left: 0;
    }
    100% {
      width: 0;
      left: 110%;
    }
  }
  
  @keyframes titleFadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes subTitleFadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

@keyframes popIn {
  0% {
    width: 0px;
    height: 0px;
    border: 0px solid #ddd;
    opacity: 0;
  }
  50% {
    width: 10px;
    height: 10px;
    opacity: 1;
    bottom: 45px;
  }
  65% {
    width: 7px;
    height: 7px;
    bottom: 0px;
    width: 15px
  }
  80% {
    width: 10px;
    height: 10px;
    bottom: 20px
  }
  100% {
    width: 7px;
    height: 7px;
    border: 0px solid #222;
    bottom: 9px;
  }
}

.portfolio {
  width: 80%;
  margin: 0 auto;
}

.a23-box-item {
  display: flex;
  position: relative;
  width: 100%;
  min-width: 200px;
  max-width: 300px;
  transition: background 0.3s ease-in-out;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;

  .a23-zoom-box {
    position: relative;
    margin: 0;
    cursor: pointer;
    overflow: hidden;
    
    img {
      width: 100%;
      transition: all 0.3s ease-in-out;
      -webkit-transform: translateZ(0);
      overflow: hidden;
      transform: translateZ(0);
      z-index: 1;
    }      
    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: #202121;
      opacity: 0;
      z-index: 0;
      pointer-events: none;
      transition: all 0.3s ease-in-out;
    }
    &:not(.no-hover):hover:after {
      opacity: 0.4;
    }
    &:hover:not(.no-scale) img {
      -webkit-transform: scale(1.05);
      transform: scale(1.05);
    }
    .hover-item-container {
      position: absolute;
      right: 20px;
      bottom: 20px;
      visibility: hidden;
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
      cursor: pointer;
      z-index: 3;
      
      .hover-item {
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s ease-in-out;
        width: 36px;
        height: 36px;
        border: 1px solid rgba(255,255,255,0.5);
        border-radius: 50%;
        &:hover {
          opacity: 0.7;
        }
        .ico-svg {
          display: inline-block;
          position: relative;
          height: 13px;
          width: auto;
          -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
          transition: all 0.3s ease-in-out;

          g {
            fill: #fff;
          }
        }
      }
    }
    &:hover .hover-item-container {
      visibility: visible;
      opacity: 1;
    }
  }
  .box-info {
    display: flex;
    flex: 1;
    width: 100%;
    min-height: 170px;
    margin-bottom: 0;
    background-color: #fcfcfc;
    
    .box-content {
      padding: 12px;
      .box-title {
        border-bottom: 1px solid #ccc;
        a {
          color: #202121;
          font-weight: bold;
        }
      }
      .box-description {
        display: flex;
        justify-content: space-between;
        overflow-y: hidden;
        word-break: break-all;
        padding: 12px 12px 4px 12px;
        height: 120px;
      }
    }
  }
}

#a23-meteor {
  position: absolute;
  left: 0;
  top: 0;
  border: 0;
  height: calc(100% - 100px);
  max-width: 100%;
  box-sizing: content-box;
  padding: 0;
  margin: 0;
  z-index: 0;
}

