@import url("//fonts.googleapis.com/earlyaccess/notosansjapanese.css");
// Override
$font-family-base: "メイリオ", Meiryo, "Noto Sans JP", sans-serif !default;
// Button colors
$light_button_color: #455a64;
$dark_button_color: #fff;
$danger_color: #fc4b6c;
$danger_strong_color: #e83e8c;
$data_color: #1e88e5;
$data_strong_color: #166dba;
$window_color: #28a745;
$window_strong_color: #1e7e34;
$action_color: #ffb22b;
$action_strong_color: #ffa405;
$action_tough_color: #e8710a;
$other_color: #22abbd;
$other_strong_color: #1ca3b5;
$operation_color: #7460ee;
$operation_strong_color: #6f42c1;
$disable_color: #6c757d;
// Material Design Icon
$font-material-design-icons: normal normal normal 14px/1 'Material Design Icons';

//
// Choose Gender
//  _choose-gender.scss
//
$choose-gender-female-fg-color: white;
$choose-gender-female-bg-color: #f29ec0;
$choose-gender-male-fg-color: white;
$choose-gender-male-bg-color: #1e88e5;
$choose-gender-other-fg-color: white;
$choose-gender-other-bg-color: #1e7e34;


$a23-red: #fb3a3a;
$a23-pink: #E91E63;
$a23-purple: #7460ee;
$a23-deep-purple: #673AB7;
$a23-indigo: #3F51B5;
$a23-blue: #0075ff;
$a23-light-blue: #03A9F4;
$a23-cyan: #00BCD4;
$a23-teal: #009688;
$a23-green: #26c6da;
$a23-light-green: #8BC34A;
$a23-lime: #CDDC39;
$a23-yellow: #ffe821;
$a23-amber: #FFC107;
$a23-orange: #FF9800;
$a23-deep-orange: #FF5722;
$a23-brown: #795548;
$a23-grey: #9E9E9E;
$a23-blue-grey: #607D8B;
$a23-black: #000000;

$focus-color: #66afe9;

// Success Color
$a23-success-color: #1a99aa;
