$a23-checkbox-border-color: $light_button_color;
$a23-checkbox-red: $a23-red;
$a23-checkbox-pink: $a23-pink;
$a23-checkbox-purple: $a23-purple;
$a23-checkbox-deep-purple: $a23-deep-purple;
$a23-checkbox-indigo: $a23-indigo;
$a23-checkbox-blue: $a23-blue;
$a23-checkbox-light-blue: $a23-light-blue;
$a23-checkbox-cyan: $a23-cyan;
$a23-checkbox-teal: $a23-teal;
$a23-checkbox-green: $a23-green;
$a23-checkbox-light-green: $a23-light-green;
$a23-checkbox-lime: $a23-lime;
$a23-checkbox-yellow: $a23-yellow;
$a23-checkbox-amber: $a23-amber;
$a23-checkbox-orange: $a23-orange;
$a23-checkbox-deep-orange: $a23-deep-orange;
$a23-checkbox-brown: $a23-brown;
$a23-checkbox-grey: $a23-grey;
$a23-checkbox-blue-grey: $a23-blue-grey;
$a23-checkbox-black: $a23-black;
$a23-checkbox-disabled: #BDBDBD;
$a23-checkbox-off: #F1F1F1;
$a23-checkbox-switch: #818181;
$a23-checkbox-default-color: $a23-checkbox-blue;

.a23-checkbox {
  > input[type=checkbox] {
    position: absolute;
    left: -9999px;
    opacity: 0;

    + span {
      position: relative;
      padding-left: 26px;
      display: inline-block;
      height: 16px;
      font-weight: 400;
      line-height: 24px;
      font-size: 1rem;
      // square
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 18px;
        height: 18px;
        z-index: 0;
        border: 2px solid $a23-checkbox-border-color;
        border-radius: 1px;
        margin-top: 2px;
        transition: .2s;
        @include user-select-none;
      }
      // check mark
      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 18px;
        height: 18px;
        z-index: 0;
        border-radius: 1px;
        margin-top: 2px;
        transition: .2s;
        -webkit-transform: scale(0);
        @include user-select-none;
      }
    }

    &:not([disabled]) + span {
      cursor: pointer;
    }

    &:focus + span:before {
      outline: 0;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, .25), 0 0 8px rgba($focus-color, 60%);
    }

    &:checked {
      // checked focus for right and bottom
      &:focus + span:before {
        outline: 0;
        box-shadow: inset 0 0px 0px rgba(0, 0, 0, .25), 4px 4px 8px rgba($focus-color, 60%);
      }
      + span:before {
        top: -4px;
        left: -5px;
        width: 12px;
        height: 22px;
        border-top: 2px solid transparent;
        border-left: 2px solid transparent;
        border-right: 2px solid $a23-checkbox-default-color;
        border-bottom: 2px solid $a23-checkbox-default-color;
        transform: rotate(40deg);
        -webkit-transform: rotate(40deg);
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
        @include user-select-none;
      }
    }
  }
}
@include checkbox-variant("red", $a23-checkbox-red);
@include checkbox-variant("pink", $a23-checkbox-pink);
@include checkbox-variant("purple", $a23-checkbox-purple);
@include checkbox-variant("deep-purple", $a23-checkbox-deep-purple);
@include checkbox-variant("indigo", $a23-checkbox-indigo);
@include checkbox-variant("blue", $a23-checkbox-blue);
@include checkbox-variant("light-blue", $a23-checkbox-light-blue);
@include checkbox-variant("cyan", $a23-checkbox-cyan);
@include checkbox-variant("teal", $a23-checkbox-teal);
@include checkbox-variant("green", $a23-checkbox-green);
@include checkbox-variant("light-green", $a23-checkbox-light-green);
@include checkbox-variant("lime", $a23-checkbox-lime);
@include checkbox-variant("yellow", $a23-checkbox-yellow);
@include checkbox-variant("amber", $a23-checkbox-amber);
@include checkbox-variant("orange", $a23-checkbox-orange);
@include checkbox-variant("deep-orange", $a23-checkbox-deep-orange);
@include checkbox-variant("brown", $a23-checkbox-brown);
@include checkbox-variant("grey", $a23-checkbox-grey);
@include checkbox-variant("blue-grey", $a23-checkbox-blue-grey);
@include checkbox-variant("black", $a23-checkbox-black);

/*

  Filled Checkbox

*/
.a23-filled-checkbox > {
  [type=checkbox] {
    position: absolute;
    left: -9999px;
    opacity: 0;
    + span {
      display: inline-block;
      padding-left: 26px;
      height: 16px;
      line-height: 24px;
      font-weight: 400;
      position: relative;
      padding-left: 26px;
      font-size: 1rem;

      &:before,
      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 18px;
        height: 18px;
        border: 2px solid $a23-checkbox-border-color;
        border-radius: 1px;
        margin-top: 2px;
        transition: .2s;
        transition: border .25s,background-color .25s,width .2s .1s,height .2s .1s,top .2s .1s,left .2s .1s;
        z-index: 1;
        @include user-select-none;
      }
    }

    &:not([disabled]) + span {
      cursor: pointer;
    }

    &:checked {
      + span {
        &:before {
          top: 0;
          left: 2px;
          width: 7px;
          height: 16px;
          // draw check mark
          border-top: 2px solid transparent;
          border-left: 2px solid transparent;
          border-right: 2px solid #fff !important;
          border-bottom: 2px solid #fff !important;
          backface-visibility: hidden;
          -webkit-backface-visibility: hidden;
          transform: rotate(40deg);
          -webkit-transform: rotate(40deg);
          transform-origin: 100% 100%;
          -webkit-transform-origin: 100% 100%;
        }
        &:after {
          top: 0;
          width: 20px;
          height: 20px;
          border: 2px solid $a23-checkbox-default-color;
          background-color: $a23-checkbox-default-color;
          z-index: 0;
        }
      }
    }

    &:not(:checked) {
      + span {
        &:before {
          top: 10px;
          left: 6px;
          width: 0;
          height: 0;
          border: 3px solid transparent;
          transform: rotateZ(37deg);
          -webkit-transform: rotateZ(37deg);
          transform-origin: 100% 100%;
          -webkit-transform-origin: 20% 40%;
        }
        &:after {
          top: 0;
          height: 20px;
          width: 20px;
          background-color: transparent;
          border: 2px solid $a23-checkbox-border-color;
          z-index: 0;
        }
      }
    }
  }
}
@include filled-checkbox-variant("red", $a23-checkbox-red);
@include filled-checkbox-variant("pink", $a23-checkbox-pink);
@include filled-checkbox-variant("purple", $a23-checkbox-purple);
@include filled-checkbox-variant("deep-purple", $a23-checkbox-deep-purple);
@include filled-checkbox-variant("indigo", $a23-checkbox-indigo);
@include filled-checkbox-variant("blue", $a23-checkbox-blue);
@include filled-checkbox-variant("light-blue", $a23-checkbox-light-blue);
@include filled-checkbox-variant("cyan", $a23-checkbox-cyan);
@include filled-checkbox-variant("teal", $a23-checkbox-teal);
@include filled-checkbox-variant("green", $a23-checkbox-green);
@include filled-checkbox-variant("light-green", $a23-checkbox-light-green);
@include filled-checkbox-variant("lime", $a23-checkbox-lime);
@include filled-checkbox-variant("yellow", $a23-checkbox-yellow);
@include filled-checkbox-variant("amber", $a23-checkbox-amber);
@include filled-checkbox-variant("orange", $a23-checkbox-orange);
@include filled-checkbox-variant("deep-orange", $a23-checkbox-deep-orange);
@include filled-checkbox-variant("brown", $a23-checkbox-brown);
@include filled-checkbox-variant("grey", $a23-checkbox-grey);
@include filled-checkbox-variant("blue-grey", $a23-checkbox-blue-grey);
@include filled-checkbox-variant("black", $a23-checkbox-black);

/*

  Checkbox Button

*/
.a23-checkbox-button {
  > [type="checkbox"] {
	  position: absolute;
	  left: -9999px;
	  width: 0;
	  height: 0;
	  opacity: 0;
    &:not(:disabled) ~ * {
	    cursor: pointer;
    }
    &:not(:checked) + .a23-label-text {
      color: $a23-checkbox-default-color;
      border: solid 1px $a23-checkbox-default-color;
    }
    &:checked + .a23-label-text {
      color: #F1F1F1;
      border: solid 1px $a23-checkbox-default-color;
      background-color: $a23-checkbox-default-color;
    }
    &:disabled + .a23-label-text {
      color: #F1F1F1;
      border: solid 1px $a23-checkbox-disabled !important;
      background-color: $a23-checkbox-disabled !important;
    }
  }
  > .a23-label-text {
	  position: relative;
	  display: -webkit-inline-flex;
	  display: -ms-inline-flexbox;
	  display: inline-flex;
    width: 100%;
	  align-items: center;
	  -webkit-align-items: center;
	  -moz-align-items: center;
	  -ms-align-items: center;
	  text-align: center;
	  -webkit-justify-content: center;
	  -moz-justify-content: center;
	  -ms-justify-content: center;
	  justify-content: center;
	  -ms-flex-pack: center;
	  padding: 0.375rem 0.75rem;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
	  letter-spacing: 1px;
	  border-radius: 4px;
	  transition: all 300ms linear; 
	  -webkit-transition: all 300ms linear;
    @include user-select-none;
    
    i:before {
      margin-right: 0.5rem;
    }  
  }
}
@include checkbox-button-variant("red", $a23-checkbox-red);
@include checkbox-button-variant("pink", $a23-checkbox-pink);
@include checkbox-button-variant("purple", $a23-checkbox-purple);
@include checkbox-button-variant("deep-purple", $a23-checkbox-deep-purple);
@include checkbox-button-variant("indigo", $a23-checkbox-indigo);
@include checkbox-button-variant("blue", $a23-checkbox-blue);
@include checkbox-button-variant("light-blue", $a23-checkbox-light-blue);
@include checkbox-button-variant("cyan", $a23-checkbox-cyan);
@include checkbox-button-variant("teal", $a23-checkbox-teal);
@include checkbox-button-variant("green", $a23-checkbox-green);
@include checkbox-button-variant("light-green", $a23-checkbox-light-green);
@include checkbox-button-variant("orange", $a23-checkbox-orange);
@include checkbox-button-variant("deep-orange", $a23-checkbox-deep-orange);
@include checkbox-button-variant("brown", $a23-checkbox-brown);
@include checkbox-button-variant("grey", $a23-checkbox-grey);
@include checkbox-button-variant("blue-grey", $a23-checkbox-blue-grey);
@include checkbox-button-variant("black", $a23-checkbox-black);
