.choose-gender {
    padding-bottom: 8px;
}
/* 性別撰択枠 */
.choose-gender-item {
    > input[type=radio] {
        + label {
            justify-content: left;
            margin-bottom: 2px;
            cursor: pointer;
            /* 性別アイコンの設定 */
            + i {
                font-size: 2.2em;
                font-style: normal;
                border-radius: 10px;
                padding: 0 6px;
                cursor: pointer;
            }            
        }
    }
}
/* 性別毎の設定 女性 */
.choose-gender-female {
    > i.mdi-human-female {
        border: 6px solid $choose-gender-female-bg-color;
        color: $choose-gender-female-bg-color;
    }
    > input[type=radio]:checked+label+i.mdi-human-female,
    > input[type=radio]:not(:checked)+label+i:hover {
        background-color: $choose-gender-female-bg-color;
        color: $choose-gender-female-fg-color;
    }
}
/* 性別毎の設定 男性 */
.choose-gender-male {
    > i.mdi-human-male {
        border: 6px solid $choose-gender-male-bg-color;
        color: $choose-gender-male-bg-color;
    }
    > input[type=radio]:checked+label+i.mdi-human-male,
    > input[type=radio]:not(:checked)+label+i.mdi-human-male:hover {
        background-color: $choose-gender-male-bg-color;
        color: $choose-gender-male-fg-color;
    }
}
/* 性別毎の設定 その他 */
.choose-gender-other {
    > i.mdi-human-male-female {
        border: 6px solid $choose-gender-other-bg-color;
        color: $choose-gender-other-bg-color;
    }
    > input[type=radio]:checked+label+i.mdi-human-male-female,
    > input[type=radio]:not(:checked)+label+i.mdi-human-male-female:hover {
        background-color: $choose-gender-other-bg-color;
        color: $choose-gender-other-fg-color;
    }
    /* その他を選択で入力欄を表示非表示 */
    > input[type=radio]:checked~input[type=text] {
        display: block;
    }
    > input[type=radio]:not(:checked)~input[type=text] {
        display: none;
    }
}
