@charset "UTF-8";

$cube-dimension: 100px;

.viewport {
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -ms-perspective: 800px;
  -o-perspective: 800px;
  perspective: 800px;
  -webkit-perspective-origin: 50% 100px;
  -moz-perspective-origin: 50% 100px;
  -ms-perspective-origin: 50% 100px;
  -o-perspective-origin: 50% 100px;
  perspective-origin: 50% 100px;
  -webkit-transform: scale(0.6, 0.6);
  -moz-transform: scale(0.6, 0.6);
  -ms-transform: scale(0.6, 0.6);
  -o-transform: scale(0.6, 0.6);
  transform: scale(0.6, 0.6);

  /* ボックス影 */
  /* -webkit-box-reflect: below 170px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0%, transparent), to(rgba(250, 250, 250, 0.1))); */

  * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    &:before, &:after {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    }
  }
}

.a23-cube {
  position: relative;
  margin: 0 auto;
  height: $cube-dimension;
  width: $cube-dimension;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  // -webkit-transform: rotateX(90deg) rotateY(360deg);
  // -moz-transform: rotateX(90deg) rotateY(360deg);
  // -ms-transform: rotateX(90deg) rotateY(360deg);
  // -o-transform: rotateX(90deg) rotateY(360deg);
  // transform: rotateX(90deg) rotateY(360deg);

  > div {
    overflow: hidden;
    position: absolute;
    opacity: 0.8;
    height: $cube-dimension;
    width: $cube-dimension;
    // background-image: linear-gradient(45deg, rgba(royalblue, 0.8), skyblue), url("blank.png");
    background-image: url("../images/cube/blank.png");
    -webkit-touch-callout: none;
    -moz-touch-callout: none;
    -ms-touch-callout: none;
    -o-touch-callout: none;
    touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;

    > div.cube-image {
      width: $cube-dimension;
      height: $cube-dimension;
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      transform: rotate(180deg);
      line-height: 100px;
      font-size: 20px;
      text-align: center;
      font-weight: bold;
      // color: #1b9bd8;
      color: #002149;
      -webkit-transition: color 600ms;
      -moz-transition: color 600ms;
      -ms-transition: color 600ms;
      -o-transition: color 600ms;
      transition: color 600ms;
      &.active {
        color: rgb(219,0,16);
      }
    }

    &:hover, &:active {
      cursor: pointer;
    }

    &:first-child {
      -webkit-transform: rotateX(90deg) translateZ($cube-dimension / 2);
      -moz-transform: rotateX(90deg) translateZ($cube-dimension / 2);
      -ms-transform: rotateX(90deg) translateZ($cube-dimension / 2);
      -o-transform: rotateX(90deg) translateZ($cube-dimension / 2);
      transform: rotateX(90deg) translateZ($cube-dimension / 2);
      outline: 1px solid transparent;
    }

    &:nth-child(2) {
      -webkit-transform: translateZ($cube-dimension / 2);
      -moz-transform: translateZ($cube-dimension / 2);
      -ms-transform: translateZ($cube-dimension / 2);
      -o-transform: translateZ($cube-dimension / 2);
      transform: translateZ($cube-dimension / 2);
      outline: 1px solid transparent;
    }

    &:nth-child(3) {
      -webkit-transform: rotateY(90deg) translateZ($cube-dimension / 2);
      -moz-transform: rotateY(90deg) translateZ($cube-dimension / 2);
      -ms-transform: rotateY(90deg) translateZ($cube-dimension / 2);
      -o-transform: rotateY(90deg) translateZ($cube-dimension / 2);
      transform: rotateY(90deg) translateZ($cube-dimension / 2);
      outline: 1px solid transparent;
    }

    &:nth-child(4) {
      -webkit-transform: rotateY(180deg) translateZ($cube-dimension / 2);
      -moz-transform: rotateY(180deg) translateZ($cube-dimension / 2);
      -ms-transform: rotateY(180deg) translateZ($cube-dimension / 2);
      -o-transform: rotateY(180deg) translateZ($cube-dimension / 2);
      transform: rotateY(180deg) translateZ($cube-dimension / 2);
      outline: 1px solid transparent;
    }

    &:nth-child(5) {
      -webkit-transform: rotateY(-90deg) translateZ($cube-dimension / 2);
      -moz-transform: rotateY(-90deg) translateZ($cube-dimension / 2);
      -ms-transform: rotateY(-90deg) translateZ($cube-dimension / 2);
      -o-transform: rotateY(-90deg) translateZ($cube-dimension / 2);
      transform: rotateY(-90deg) translateZ($cube-dimension / 2);
      outline: 1px solid transparent;
    }

    &:nth-child(6) {
      -webkit-transform: rotateX(-90deg) rotate(180deg) translateZ($cube-dimension / 2);
      -moz-transform: rotateX(-90deg) rotate(180deg) translateZ($cube-dimension / 2);
      -ms-transform: rotateX(-90deg) rotate(180deg) translateZ($cube-dimension / 2);
      -o-transform: rotateX(-90deg) rotate(180deg) translateZ($cube-dimension / 2);
      transform: rotateX(-90deg) rotate(180deg) translateZ($cube-dimension / 2);
      outline: 1px solid transparent;
    }
  }
}

@media (max-width: 640px) {
  .viewport {
    -webkit-transform: scale(0.6, 0.6);
    -moz-transform: scale(0.6, 0.6);
    -ms-transform: scale(0.6, 0.6);
    -o-transform: scale(0.6, 0.6);
    transform: scale(0.6, 0.6);
  }
}
