input.a23,
textarea.a23,
select.a23 {
    &:not([type=checkbox]) {
        width: 100%;
    }
    &::placeholder {
      color: $input-placeholder-color;
    }
    padding: .375rem .75rem;
    color: #54667a;
    border: 1px solid #e9ecef;
    border-radius: 4px;
    box-shadow: none;
    transition: border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
}

input.a23:not([readonly]):not(.readonly),
textarea.a23:not([readonly]):not(.readonly),
select.a23:not([readonly]):not(.readonly) {
    &:not(.a23-search) {
      &:not(.invalid) {
        &:not(:invalid) {
          &:not([disabled]) {
            background-color: #ebf4fe;
          }
        }
      }
    }
    &:focus {
        border-color: #66afe9;
        outline: 0;
        @include focus-variant();
    }
}
input,
textarea,
select {
    &.invalid,
    &:invalid {
        background: #FFE5E5;
        color: #C00;
    }
}
span.a23-required {
    background: #c00;
    color: #fff;
    font-size: 11px;
    font-weight: normal;
    padding: 1px 5px;
    margin-left: 1em;
    vertical-align: middle;
}
.a23-error {
  color: #C00;
}
.a23-input-visibility {
    position: relative;
    > input {
        padding-right: 2rem;
    }
}
.a23-input-visibility > .a23-input-visibility-el {
    cursor: pointer;
    position: absolute;
    right: .75rem;
    top: 50%;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -moz-user-select: none;
    transform: translateY(-50%);
}
.a23-input-visibility > input.readonly + .a23-input-visibility-el,
.a23-input-visibility > input[readonly] + .a23-input-visibility-el,
.a23-input-visibility > input.disabled + .a23-input-visibility-el,
.a23-input-visibility > input[disabled] + .a23-input-visibility-el {
    display: none;
}
.a23-input-group {
  margin-bottom: 8px;
}
.a23-input-group .a23-label {
    font-weight: bold;
}
input.a23-minus {
    color: #e83e8c;
}
input.a23.a23-sm {
    height: calc(1.5em + .5rem + 2px);
    padding: .25rem .5rem;
    font-size: .76562rem;
    line-height: 1.5;
    border-radius: 1px;
}
input.a23.a23-lg {
    height: calc(1.5em + 1rem + 2px);
    padding: .5rem 1rem;
    font-size: 1.09375rem;
    line-height: 1.5;
    border-radius: 4px;
}

.a23-input-group > input.a23 {
  position: relative;
  flex: 1 1 auto;
  width: 1%;
  margin-bottom: 0;
}
.a23-input-group > button.a23-btn {
  margin-left: -1px;
}
.a23-input-group {
  display: flex;
}

input.a23[type=date] {
  height: 35px;
}

// for edge
input::-ms-reveal,
input::-ms-clear {
  display: none;
}
