$a23-radio-border-color: $light_button_color;
$a23-radio-red: $a23-red;
$a23-radio-pink: $a23-pink;
$a23-radio-purple: $a23-purple;
$a23-radio-deep-purple: $a23-deep-purple;
$a23-radio-indigo: $a23-indigo;
$a23-radio-blue: $a23-blue;
$a23-radio-light-blue: $a23-light-blue;
$a23-radio-cyan: $a23-cyan;
$a23-radio-teal: $a23-teal;
$a23-radio-green: $a23-green;
$a23-radio-light-green: $a23-light-green;
$a23-radio-lime: $a23-lime;
$a23-radio-yellow: $a23-yellow;
$a23-radio-amber: $a23-amber;
$a23-radio-orange: $a23-orange;
$a23-radio-deep-orange: $a23-deep-orange;
$a23-radio-brown: $a23-brown;
$a23-radio-grey: $a23-grey;
$a23-radio-blue-grey: $a23-blue-grey;
$a23-radio-black: $a23-black;
$a23-radio-disabled: #BDBDBD;
$a23-radio-off: #F1F1F1;
$a23-radio-switch: #818181;
$a23-radio-default-color: $a23-radio-blue;


.a23-radio {
  height: 22px;
  line-height: 22px;
  font-weight: 400;
  &:not(.a23-inline) {
    display: block;
  }
  
  > [type=radio] {
    position: absolute;
    left: -9999px;
    opacity: 0;
    
    + .a23-label-text {
      position: relative;
      padding-left: 26px;
      cursor: pointer;
      display: inline-block;
      height: 19px;
      line-height: 21px;
      font-size: 1rem;
      transition: .28s ease;
      @include user-select-none;

      &:before,
      &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        margin: 1px;
        width: 16px;
        height: 16px;
        z-index: 0;
        transition: .28s ease;
        border-radius: 50%;
      }
      &:after {
        -webkit-transform: scale(1.02);
        transform: scale(1.02);
      }
    }
    &:checked {
      + .a23-label-text:before {
        border: 2px solid transparent;
        animation: ripple .2s linear forwards;
      }
      + .a23-label-text:after {
        border: 2px solid $a23-radio-default-color;
        background-color: $a23-radio-default-color;
        z-index: 0;
      }
    }
    &:not(:checked) {
      + .a23-label-text:before,
      + .a23-label-text:after {
        border: 2px solid $a23-radio-border-color;
      }
    }
    &:disabled {
      + .a23-label-text,
      + .a23-label-text:before,
      + .a23-label-text:after, {
        opacity: 0.6;
      }
    }
  }
  &.a23-with-gap > [type=radio]:checked {
    + .a23-label-text:before {
      border: 2px solid $a23-radio-default-color;
    }
    + .a23-label-text:after {
      z-index: 0;
      -webkit-transform: scale(.5);
      transform: scale(.5);
    }
  }
}
@include radio-variant("red", $a23-radio-red);
@include radio-variant("pink", $a23-radio-pink);
@include radio-variant("purple", $a23-radio-purple);
@include radio-variant("deep-purple", $a23-radio-deep-purple);
@include radio-variant("indigo", $a23-radio-indigo);
@include radio-variant("blue", $a23-radio-blue);
@include radio-variant("light-blue", $a23-radio-light-blue);
@include radio-variant("cyan", $a23-radio-cyan);
@include radio-variant("teal", $a23-radio-teal);
@include radio-variant("green", $a23-radio-green);
@include radio-variant("light-green", $a23-radio-light-green);
@include radio-variant("lime", $a23-radio-lime);
@include radio-variant("yellow", $a23-radio-yellow);
@include radio-variant("amber", $a23-radio-amber);
@include radio-variant("orange", $a23-radio-orange);
@include radio-variant("deep-orange", $a23-radio-deep-orange);
@include radio-variant("brown", $a23-radio-brown);
@include radio-variant("grey", $a23-radio-grey);
@include radio-variant("blue-grey", $a23-radio-blue-grey);
@include radio-variant("black", $a23-radio-black);

/*

  Radio Button

 */
.a23-radio-button {
  > [type="radio"] {
	  position: absolute;
	  left: -9999px;
	  width: 0;
	  height: 0;
	  opacity: 0;
    &:not(:disabled) ~ * {
	    cursor: pointer;
    }
    &:not(:checked) + .a23-label-text {
      color: $a23-radio-default-color;
      border: solid 1px $a23-radio-default-color;
    }
    &:checked + .a23-label-text {
      color: #F1F1F1;
      border: solid 1px $a23-radio-default-color;
      background-color: $a23-radio-default-color;
    }
    &:disabled + .a23-label-text {
      color: #F1F1F1;
      border: solid 1px $a23-radio-disabled !important;
      background-color: $a23-radio-disabled !important;
    }
  }
  > .a23-label-text {
	  position: relative;
	  display: -webkit-inline-flex;
	  display: -ms-inline-flexbox;
	  display: inline-flex;
    width: 100%;
	  align-items: center;
	  -webkit-align-items: center;
	  -moz-align-items: center;
	  -ms-align-items: center;
	  text-align: center;
	  -webkit-justify-content: center;
	  -moz-justify-content: center;
	  -ms-justify-content: center;
	  justify-content: center;
	  -ms-flex-pack: center;
	  padding: 0.375rem 0.75rem;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
	  letter-spacing: 1px;
    border-radius: 0.25rem;
	  transition: all 300ms linear; 
	  -webkit-transition: all 300ms linear;
    @include user-select-none;
    
    i:before {
      margin-right: 0.5rem;
    }  
  }
}
@include radio-button-variant("red", $a23-radio-red);
@include radio-button-variant("pink", $a23-radio-pink);
@include radio-button-variant("purple", $a23-radio-purple);
@include radio-button-variant("deep-purple", $a23-radio-deep-purple);
@include radio-button-variant("indigo", $a23-radio-indigo);
@include radio-button-variant("blue", $a23-radio-blue);
@include radio-button-variant("light-blue", $a23-radio-light-blue);
@include radio-button-variant("cyan", $a23-radio-cyan);
@include radio-button-variant("teal", $a23-radio-teal);
@include radio-button-variant("green", $a23-radio-green);
@include radio-button-variant("light-green", $a23-radio-light-green);
@include radio-button-variant("lime", $a23-radio-lime);
@include radio-button-variant("yellow", $a23-radio-yellow);
@include radio-button-variant("amber", $a23-radio-amber);
@include radio-button-variant("orange", $a23-radio-orange);
@include radio-button-variant("deep-orange", $a23-radio-deep-orange);
@include radio-button-variant("brown", $a23-radio-brown);
@include radio-button-variant("grey", $a23-radio-grey);
@include radio-button-variant("blue-grey", $a23-radio-blue-grey);
@include radio-button-variant("black", $a23-radio-black);
