.auth-wrapper {
  display: flex;
  min-height: 100vh;
  position: relative;
  align-items: center;
  justify-content: center;
  /* TODO: use const */
  background-color: #EEF5F9;
  /* TODO: remove */
  .auth-box {
    background: $white;
    padding: 20px;
    box-shadow: $shadow;
    max-width: 400px;
    width: 90%;
    margin: 10% 0;
    .logo {
      text-align: center;
    }
    &.on-sidebar {
      top: 0px;
      right: 0px;
      height: 100%;
      margin: 0px;
      position: absolute;
    }
  }
  /* TODO: remove */
  #recoverform {
    display: none;
  }
  /* TODO: remove */
  .auth-sidebar {
    position: fixed;
    height: 100%;
    right: 0px;
    overflow: auto;
    margin: 0px;
    top: 0px;
  }

  .auth-container {
    width: 400px;
    padding: 16px 32px 16px 32px;
    background-color: white;
    border-radius: 2px;
    .block {
      margin-bottom: 16px;
      .title {
        text-align: center;
        margin-bottom: 16px;
      }
    }
    .logo {
      margin-top: 16px;
    }
    .error {
      display: block;
      width: 100%;
      padding: 10px 12px;
      margin: 0 0 10px 0;
      white-space: pre-line;
      font-size: 14px;
      font-weight: 700;
      /* TODO: use const */
      color: #ba2121;
      border: 1px solid #ba2121;
      border-radius: 4px;
      /* TODO: use const */
      background-color: white;
      background-position: 5px 12px;
    }
    .hidden {
      display: none !important;
    }
    input {
      display: block;
      height: calc(2.25rem + 2px);
      width: 100%;
      /* TODO: use const */
      color: #495057;
      font-size: 1rem;
      line-height: 1.5;
      background-clip: padding-box;
      /* TODO: use const */
      background-color: #fff;
      background-position: center bottom, center calc(100% - 1px);
      background-repeat: no-repeat;
      background-size: 0 2px, 100% 1px;
      border-radius: 0;
      box-shadow: none;
      border: 0 none;
      padding: 0.375rem 0.75rem;
      float: none;
      transition: background 0s ease-out 0s;
      &[readonly],
      &[disabled],
      &.readonly,
      &.disabled {
        border: 1px solid #dee2e6;
      }
      &:not([readonly], [disabled], .readonly, .disabled) {
        background-image: linear-gradient(#1e88e5, #1e88e5), linear-gradient(#dee2e6, #dee2e6);
      }
      &:not([readonly], [disabled], .readonly, .disabled):focus {
        background-size: 100% 2px, 100% 1px;
        outline: 0 none;
        transition-duration: 0.3s;
      }
      /* TODO: use const color */
      &::placeholder {
        /* TODO: use const */
        color: #8898aa;
        opacity: 1;
      }
    }
    .secondary {
      color: #757575;
    }
    .password-toggle-button {
      float: right;
      position: relative;
      top: -28px;
      cursor: pointer;
      margin-right: 10px;
    }
    .link {
      text-align: center !important;
      color: $body-color;
      margin-left: auto;
      &:hover,
      &:focus {
        color: $themecolor;
      }
    }
  }
}
/* TODO: remove */
.error {
  color: $danger;
}

@include media-breakpoint-down(sm) {
  .auth-wrapper {
    background-color: #EEF5F9;

    .auth-sidebar {
      position: relative;
      max-width: 100%;
      width: 100%;
      margin: 40px 0 60px;
    }
    .demo-text {
      margin-top: 30px;
    }
  }
}
